applicationnavigator/applicationNavigator
**/saml/
**/saml.zip
**/*.jar
**/.DS_Store
**/*.war*
banneraccessmanagement/BannerAccessMgmt.ws/
banneraccessmanagement/BannerAccessMgmt/
banneraccessmanagement/BannerAdmin.ws/
banneradmin/BannerAdmin/
banneradmin/BannerAdmin.ws/
banneradmin/bannerHelp/
bannereventpublisher/BannerEventPublisher/
bannerextensibility/BannerExtensibility
brim/brim
businessprocessapi/BannerAdminBPAPI
businessprocessapi/BannerAdminBPAPI-working
**/*.zip
**/*.env
businessprocessapi/BannerAdminBPAPI_configs/*
communicationmanagement/CommunicationManagement/
documentmanagementapi/DocumentManagementApi/
ellucianmessagingadapter/EllucianMessagingAdapter
employeeselfservice/EmployeeSelfService
employeeselfservice/scratch
etranscriptapi/eTranscriptAPI
facultyselfservice/FacultySelfService/
financeselfservice/FinanceSelfService
**/.vscode
generalselfservice/BannerGeneralSsb/
**/clnbanner*
integrationapi/IntegrationApi
studentapi/StudentApi
studentregistrationssb/StudentRegistrationSsb
studentselfservice/StudentSelfService
