**/applicationNavigator
**/saml/
**/saml.zip
**/*.jar
**/.DS_Store
**/*.war*
**/BannerAccessMgmt.ws/
**/BannerAccessMgmt/
**/BannerAdmin.ws/
**/BannerAdmin/
**/BannerAdmin.ws/
**/bannerHelp/
**/BannerEventPublisher/
**/BannerExtensibility
**/brim
**/BannerAdminBPAPI
**/BannerAdminBPAPI-working
**/*.zip
**/*.env
**/BannerAdminBPAPI_configs/*
**/CommunicationManagement/
**/DocumentManagementApi/
**/EllucianMessagingAdapter
**/EmployeeSelfService
**/scratch
**/eTranscriptAPI
**/FacultySelfService/
**/FinanceSelfService
**/.vscode
**/BannerGeneralSsb/
**/clnbanner*
**/IntegrationApi
**/StudentApi
**/StudentRegistrationSsb
**/StudentSelfService
ci_cd/Dockerfile
ci_cd/applicationContext.*
ci_cd/gradeEntry.json
