<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	
        <context:annotation-config/>

	<context:property-placeholder location="file:///usr/local/tomcat/webapps/BannerAdminBPAPI/WEB-INF/classes/config.properties" />
	
	<!-- debug -->	
	<bean id="environmentSettings" class="morphis.foundations.core.util.configuration.environment.EnvironmentSettings">
		<property name="debugEnabled" value="${app.debug}"/>
	</bean>
	
	<!-- root -->
	<bean id="configurationHelper" class="morphis.foundations.core.util.configuration.ConfigurationHelper"/>

	<!-- dependencies -->
	<import resource="appdatalayer.config.xml"/>
	<import resource="appsupportlib.config.xml"/>
	<import resource="lib.reports.config.xml"/>	
</beans>
